.search{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
form input{
    width: 85%;
    border: 1.3px solid black;
    outline: none;
    padding: 0.6rem 0.5rem;
    border-radius: 0.2rem;
    font-size: 1rem;
}
.search form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.2rem
}
